* {
  padding   : 0;
  margin    : 0;
  box-sizing: border-box;

}

body {
  background-image   : url(/img/baccccc.jpg);
  background-size    : cover;
  background-position: top;
  background-repeat  : no-repeat;
}





/* .bak {
  width           : 100%;
  height          : 100%;
  background-color: rgba(15, 13, 13, 70%);
  position        : absolute;
  top             : 0;
  left            : 0;
  z-index         : -1;
  background: fixed;


} */


.logoimg {
  width: 80px;

}

.nav-tabs li button {
  color    : goldenrod;
  font-size: 18px;
  padding  : 0 30px;
}

.nav-tabs li button:hover {
  color: gold;

}

.nav-tabs {
  position: relative;
  top     : 0;
  left    : 15%;

}

.tab-contenttt {

  color: white;
}

.tab-contenttt {
  width   : 50%;
  height  : 100%;
  position: relative;
  top     : 0;
  left    : 0;

}

.tab-contenttt .filo {
  width     : 50%;
  height    : 400px;
  border    : 2px solid white;
  position  : absolute;
  top       : 20%;
  left      : 13%;
  box-shadow: 2px 2px 10px gold;

}

.tab-contenttt .img-filo {
  width           : 50%;
  height          : 400px;
  background-color: rgb(202, 177, 34);
  position        : absolute;
  top             : 15%;
  left            : 17%;
  z-index         : 20;
  overflow        : hidden;



}

.tab-contenttt .img-filo img {
  width: 100%;

}


.text-bak {
  position: relative;
  top     : 120px;
  left    : 70%;
}

.text-bak h2 {
  font-size  : 50px;
  font-weight: 700;

}

.text-bak h3 {
  font-size: 30px;

}

.text-bak small {
  font-size: 40px;
  color    : gold;

}



.iconn {


  width: 300px;
}

.iconn a i {
  border       : 1px solid gold;
  padding      : 10px;
  margin       : 5px;
  border-radius: 100%;
  font-size    : 20px;
  color        : gold;
}

.iconn a i:hover {
  background: rgb(165, 128, 33);
  color     : white;
  box-shadow: 3px 3px 10px gold;
}







.button {
  --width                        : 150px;
  --height                       : 35px;
  --tooltip-height               : 35px;
  --tooltip-width                : 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color                 : goldenrod;
  --tooltip-color                : #fff;
  width                          : var(--width);
  height                         : var(--height);
  background                     : var(--button-color);
  position                       : relative;
  text-align                     : center;
  border-radius                  : 0.45em;
  font-family                    : "Arial";
  transition                     : background 0.3s;
  margin                         : 20px 60px;
  color                          : black;
}

.button::before {
  position        : absolute;
  content         : attr(data-tooltip);
  width           : var(--tooltip-width);
  height          : var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size       : 0.9rem;
  color           : #111;
  border-radius   : .25em;
  line-height     : var(--tooltip-height);
  bottom          : calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left            : calc(50% - var(--tooltip-width) / 2);
}

.button::after {
  position        : absolute;
  content         : '';
  width           : 0;
  height          : 0;
  border          : 10px solid transparent;
  border-top-color: var(--tooltip-color);
  left            : calc(50% - 10px);
  bottom          : calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,
.button::before {
  opacity   : 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display        : flex;
  align-items    : center;
  justify-content: center;
}

.button-wrapper,
.text,
.icon {
  overflow: hidden;
  position: absolute;
  width   : 100%;
  height  : 100%;
  left    : 0;
  color   : #fff;
}

.text {
  top: 0
}

.text,
.icon {
  transition: top 0.5s;
}

.icon {
  color          : #fff;
  top            : 100%;
  display        : flex;
  align-items    : center;
  justify-content: center;
}

.icon i {
  width : 24px;
  height: 24px;
}

.button:hover {
  background: gold;
  cursor    : pointer;
  box-shadow: 5px 5px 5px gold;
}

.button:hover .text {
  top: -100%;

}

.button:hover .icon {
  top  : 0;
  color: black;
}


.infoo {
  background-color: rgba(0, 0, 0, 20%);
  color           : white;
  margin-top      : 50px;

}

.about {
  width: 100%;

}

.main-timeline {
  font-family: 'Roboto', sans-serif;
  padding    : 20px 0;
  position   : relative;
}

.main-timeline:before,
.main-timeline:after {
  content         : '';
  height          : 40px;
  width           : 40px;
  background-color: #e7e7e7;
  border-radius   : 50%;
  border          : 10px solid #303334;
  transform       : translateX(-50%);
  position        : absolute;
  left            : 50%;
  top             : -15px;
  z-index         : 2;
}

.main-timeline:after {
  top   : auto;
  bottom: 15px;
}

.main-timeline .timeline {
  padding   : 35px 0;
  margin-top: -30px;
  position  : relative;
  z-index   : 1;
}

.main-timeline .timeline:before,
.main-timeline .timeline:after {
  content      : '';
  height       : 100%;
  width        : 50%;
  border-radius: 100px 0 0 100px;
  border       : 15px solid #46B2BC;
  border-right : none;
  position     : absolute;
  left         : 0;
  top          : 0;
  z-index      : -1;
}

.main-timeline .timeline:after {
  height      : calc(100% - 30px);
  width       : calc(50% - 12px);
  border-color: #65C7D0;
  left        : 12px;
  top         : 15px;
}

.main-timeline .timeline-content {
  display: inline-block;
}

.main-timeline .timeline-content:hover {
  text-decoration: none;
}

.main-timeline .timeline-year {
  color      : #65C7D0;
  font-size  : 50px;
  font-weight: 600;
  display    : inline-block;
  transform  : translateY(-50%);
  position   : absolute;
  top        : 50%;
  left       : 10%;
}

.main-timeline .timeline-icon {
  color    : #65C7D0;
  font-size: 80px;
  display  : inline-block;
  transform: translateY(-50%);
  position : absolute;
  left     : 34%;
  top      : 50%;
}

.main-timeline .content {
  color  : #909090;
  width  : 50%;
  padding: 20px;
  display: inline-block;
  float  : right;
}

.main-timeline .title {
  color         : #65C7D0;
  font-size     : 22px;
  font-weight   : 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin        : 0 0 5px 0;
}

.main-timeline .description {
  font-size     : 15px;
  letter-spacing: 1px;
  margin        : 0;
}

.main-timeline .timeline:nth-child(even):before {
  left         : auto;
  right        : 0;
  border-radius: 0 100px 100px 0;
  border       : 15px solid red;
  border-left  : none;
}

.main-timeline .timeline:nth-child(even):after {
  left         : auto;
  right        : 12px;
  border       : 15px solid green;
  border-left  : none;
  border-radius: 0 100px 100px 0;
}

.main-timeline .timeline:nth-child(even) .content {
  float: left;
}

.main-timeline .timeline:nth-child(even) .timeline-year {
  left : auto;
  right: 10%;
}

.main-timeline .timeline:nth-child(even) .timeline-icon {
  left : auto;
  right: 32%;
}

.main-timeline .timeline:nth-child(5n+2):before {
  border-color: #EA3C14;
}

.main-timeline .timeline:nth-child(5n+2):after {
  border-color: #EF5720;
}

.main-timeline .timeline:nth-child(5n+2) .timeline-icon {
  color: #EA3C14;
}

.main-timeline .timeline:nth-child(5n+2) .timeline-year {
  color: #EA3C14;
}

.main-timeline .timeline:nth-child(5n+2) .title {
  color: #EA3C14;
}

.main-timeline .timeline:nth-child(5n+3):before {
  border-color: #8CC63E;
}

.main-timeline .timeline:nth-child(5n+3):after {
  border-color: #6CAF29;
}

.main-timeline .timeline:nth-child(5n+3) .timeline-icon {
  color: #8CC63E;
}

.main-timeline .timeline:nth-child(5n+3) .timeline-year {
  color: #8CC63E;
}

.main-timeline .timeline:nth-child(5n+3) .title {
  color: #8CC63E;
}

.main-timeline .timeline:nth-child(5n+4):before {
  border-color: #F99324;
}

.main-timeline .timeline:nth-child(5n+4):after {
  border-color: #FBB03B;
}

.main-timeline .timeline:nth-child(5n+4) .timeline-icon {
  color: #F99324;
}

.main-timeline .timeline:nth-child(5n+4) .timeline-year {
  color: #F99324;
}

.main-timeline .timeline:nth-child(5n+4) .title {
  color: #F99324;
}

.main-timeline .timeline:nth-child(5n+5):before {
  border-color: #0071BD;
}

.main-timeline .timeline:nth-child(5n+5):after {
  border-color: #0050A3;
}

.main-timeline .timeline:nth-child(5n+5) .timeline-icon {
  color: #0071BD;
}

.main-timeline .timeline:nth-child(5n+5) .timeline-year {
  color: #0071BD;
}

.main-timeline .timeline:nth-child(5n+5) .title {
  color: #0071BD;
}






.progress-title {
  font-size  : 18px;
  font-weight: 700;
  color      : #ffffff;
  margin     : 0 0 30px;
}

.progress {
  height       : 17px;
  background   : rgba(179, 169, 27, 0.1);
  border-radius: 15px;
  margin-bottom: 30px;
  overflow     : visible;
  position     : relative;

}

.progress .progress-bar {
  border-radius: 15px;
  box-shadow   : none;

  animation: animate-positive 2s;
}

.progress .progress-icon,
.progress .progress-value {
  width        : 50px;
  height       : 50px;
  border-radius: 50%;
  line-height  : 40px;
  background   : #fff;
  border       : 7px solid #1f75c4;
  font-size    : 15px;
  font-weight  : 600;
  color        : #1f75c4;
  position     : absolute;
  top          : -17px;
  right        : -5px;
}

.progress .progress-icon {
  right: auto;
  left : -5px;
}

.progress.orange .progress-icon,
.progress.orange .progress-value {
  border: 7px solid #e47a10;
  color : #f7810e;
}

.progress.pink .progress-icon,
.progress.pink .progress-value {
  border: 7px solid #d8bc1c;
  color : #d8bc1c;
}

.progress.green .progress-icon,
.progress.green .progress-value {
  border: 7px solid #663399;
  color : #663399;
}

@-webkit-keyframes animate-positive {
  0% {
    width: 0;
  }
}

@keyframes animate-positive {
  0% {
    width: 0;
  }
}


.box {
  font-family: 'Raleway', sans-serif;
  text-align : center;
  padding    : 15px;
  overflow   : hidden;
  position   : relative;
  z-index    : 1;

}

.box:before {
  content         : '';
  height          : 100%;
  width           : 100%;
  border          : 10px solid darkgoldenrod;
  transform       : scale(0.5);
  transform-origin: right bottom;
  position        : absolute;
  right           : 0;
  bottom          : 0;
  z-index         : -1;
  transition      : all 0.4s ease 0s;
}

.box:hover:before {
  transform: scale(1);
}

.box img {
  width     : 100%;
  height    : auto;
  transition: all 0.4s ease 0s;
}

.box:hover img {
  filter: grayscale(80%);
  width : 100%;
}

.box .box-content {
  color     : #fff;
  background: #000000;

  width: calc(100% - 70px);

  padding   : 15px 10px;
  transform : translateX(-50%);
  opacity   : 0;
  position  : absolute;
  top       : 40%;
  left      : 50%;
  z-index   : 1;
  transition: all .4s ease 0s;
}

.box:hover .box-content {
  opacity: 1;
  top    : 25px;

}

.box .title {
  font-size     : 22px;
  font-weight   : 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin        : 0 0 3px;
}

.box .post {
  font-size     : 14px;
  font-weight   : 200;
  font-style    : italic;
  letter-spacing: 1px;
  text-transform: capitalize;
  display       : block;
}

.box .icon {
  padding   : 0;
  margin    : 0;
  list-style: none;
  opacity   : 0;
  transform : translateX(-50%) translateY(-50%);
  position  : absolute;
  left      : 50%;
  top       : 70%;
  transition: all 0.3s ease 0.2s;
}

.box:hover .icon {
  opacity: 1;
  top    : 58%;
}

.box .icon li {
  margin : 0 3px;
  display: inline-block;
}

.box .icon li a {
  color           : #fff;
  background-color: gold;
  font-size       : 16px;
  line-height     : 36px;
  width           : 36px;
  height          : 36px;
  display         : block;
  position        : relative;
  transition      : all 0.35s;
}

.box .icon li a:hover {
  color      : #fd6a6b;
  background : #fff;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, .3);
}

@media only screen and (max-width:990px) {
  .box {
    margin: 0 0 30px;
  }
}






@media screen and (max-width:1200px) {
  .main-timeline .timeline:after {
    border-radius: 88px 0 0 88px;
  }

  .main-timeline .timeline:nth-child(even):after {
    border-radius: 0 88px 88px 0;
  }
}

@media screen and (max-width:767px) {
  .main-timeline .timeline {
    margin-top: -19px;
  }

  .main-timeline .timeline:before {
    border-radius: 50px 0 0 50px;
    border-width : 10px;
  }

  .main-timeline .timeline:after {
    height       : calc(100% - 18px);
    width        : calc(50% - 9px);
    border-radius: 43px 0 0 43px;
    border-width : 10px;
    top          : 9px;
    left         : 9px;
  }

  .main-timeline .timeline:nth-child(even):before {
    border-radius: 0 50px 50px 0;
    border-width : 10px;
  }

  .main-timeline .timeline:nth-child(even):after {
    height       : calc(100% - 18px);
    width        : calc(50% - 9px);
    border-radius: 0 43px 43px 0;
    border-width : 10px;
    top          : 9px;
    right        : 9px;
  }

  .main-timeline .timeline-icon {
    font-size: 60px;
  }

  .main-timeline .timeline-year {
    font-size: 40px;
  }
}

@media screen and (max-width:479px) {
  .main-timeline .timeline-icon {
    font-size: 50px;
    transform: translateY(0);
    top      : 25%;
    left     : 10%;
  }

  .main-timeline .timeline-year {
    font-size: 25px;
    transform: translateY(0);
    top      : 65%;
    left     : 9%;
  }

  .main-timeline .content {
    width  : 68%;
    padding: 10px;
  }

  .main-timeline .title {
    font-size: 18px;
  }

  .main-timeline .timeline:nth-child(even) .timeline-icon {
    right: 10%;
  }

  .main-timeline .timeline:nth-child(even) .timeline-year {
    right: 9%;
  }
}




#regForm {
  background-color: goldenrod;
  margin: 0px auto;
  font-family: Raleway;
  padding: 40px;
  border-radius: 10px
}

#register{

color: black;
}

h1 {
  text-align: center
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  -webkit-appearance: none;
}



#regForm  .tab input:focus{

border:1px solid gold !important;
outline: none;
}

#regForm input.invalid {

  border:1px solid #e03a0666;
}

#regForm  .tab {
  display: none
}

#regForm  button {
  background-color: gold;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer
}

#regForm  button:hover {
  opacity: 0.8
}

#regForm button:focus{

outline: none !important;
}

#prevBtn {
  background-color: #bbbbbb
}


.all-steps{
    text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.step {
     height: 40px;
  width: 40px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #9a871b;
  opacity: 0.5;
}

.step.active {
  opacity: 1
}


.step.finish {
 color: #fff;
 background: gold;
 opacity: 1;

}



.all-steps {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px
}

.thanks-message {
  display: none
}









@media screen and (max-width: 900px) {
  .nav-tabs {
    width    : 300px;
    left     : 0;
    font-size: 16px;


  }

  body {

    background-image: none;
    background-color: black;

  }

  .tab-contenttt .img-filo {
    height: 70%;






  }

  .tab-contenttt .img-filo img {
    width: 100%;

  }

  .tab-content .filo {

    height: 70%;
  }





}

@media screen and (max-width: 500px) {
  .nav-tabs li {
    margin   : 20px auto;
    font-size: 10px;
  }

  .nav-tabs li button {

    font-size: 15px;
  }




  body {

    background-image: none;
    background-color: black;

  }

  .tab-contenttt .img-filo {
    width : 100%;
    height: 40%;
    left  : 50%;



  }

  .tab-contenttt .img-filo img {
    width: 100%;

  }

  .bak {
    background-color: black;
  }



  .tab-content .filo {
    width : 100%;
    height: 40%;
    left  : 40%;


  }

  .con {
    width: 100%;
  }



  .text-bak {
    width    : 100%;
    top      : 350px;
    left     : 40%;
    font-size: 20px;
  }

  .text-bak h2 {
    font-size: 20px;
  }

  .text-bak h2 {
    font-size: 20px;
  }

  .text-bak h3 {
    font-size: 15px;
  }

  .text-bak small {
    font-size: 16px;


  }

  .bttn .btn {
    margin-bottom: 20px;
  }
}